# pyenv version
.python-version

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class_pycache__/

# Virtual Environment
venv/

# Junky mac files
*.DS_STORE

# AoC specific stuff
input/
